html {
    margin: 0;
  }

  nav {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: #eee;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    color: #1b1b1b;
  }

  nav a:hover{
    border: solid 1px rgb(237, 237, 237);
    background-color: #6e0f0f;
    color: #ffffff;
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
  }


nav a:hover[aria-current='page'] {
    color: #ffffff;
    background-color: #141414;
  }
  


  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
    width: 100px; /* Set a width */
    height: 100px; /* Set a height */
    display: inline-block; /* Make it a block element for width/height */
    transition: transform 0.3s; /* Smooth transition for scaling */
  }

  #grey:hover {
    transform: scale(1.1);
    
  }
  
  #white {
    width: 100px; /* Set a width */
    height: 100px; /* Set a height */
    display: inline-block; /* Make it a block element for width/height */
    transition: transform 0.3s; /* Smooth transition for scaling */
    background: white;
  }

  #white:hover{
    transform: scale(1.1);
  }

  #blue {
    background: blue;
    width: 100px; /* Set a width */
    height: 100px; /* Set a height */
    display: inline-block; /* Make it a block element for width/height */
    transition: transform 0.3s; /* Smooth transition for scaling */
  }

  #blue:hover{
    transform: scale(1.1);
  }
  
  #yellow {
    background: yellow;
    width: 100px; /* Set a width */
    height: 100px; /* Set a height */
    display: inline-block; /* Make it a block element for width/height */
    transition: transform 0.3s; /* Smooth transition for scaling */
  }

  #yellow:hover{
    transform: scale(1.1);
  }

  #purple {
    background: purple;
    width: 100px; /* Set a width */
    height: 100px; /* Set a height */
    display: inline-block; /* Make it a block element for width/height */
    transition: transform 0.3s; /* Smooth transition for scaling */
  }

  #purple:hover{
    transform: scale(1.1);
  }
  